@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar style */
.scrollbar-macos::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-macos::-webkit-scrollbar-track {
  background-color: rgb(17 24 39);
}

.scrollbar-macos::-webkit-scrollbar-thumb {
  background-color: rgb(31 41 55);
  border-radius: 5px;
}

.scrollbar-macos::-webkit-scrollbar-thumb:hover {
  background-color: rgb(156 163 175);
}

/* Firefox */
.scrollbar-macos {
  scrollbar-width: thin;
  scrollbar-color: #ccc #f5f5f5;
}

/* Edge and IE */
@supports (-ms-overflow-style: none) {
  .scrollbar-macos {
    -ms-overflow-style: none;
  }
  .scrollbar-macos::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
